<header fxLayout="row" fxLayoutAlign="space-between">
    <h1>
      Spacestagram
    </h1>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button *ngIf="isMainLayout" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" class="round-btn" (click)="displayHeaderModal()">
        <i class="material-icons">tune</i>
        <span>
          Filter
        </span>
      </button>
      <button *ngIf="!isMainLayout" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" class="round-btn" (click)="navigate()">
        <i class="material-icons">home</i>
        <span>
          Home
        </span>
      </button>
    </div>
</header>
<shopify-filter-modal [show]="showHeaderModal" (close)="showHeaderModal = false"></shopify-filter-modal>