<shopify-header></shopify-header>
<div class="main-body" fxLayout="column" fxLayoutAlign="center center">
    <div ngClass.lt-sm="sm-container" ngClass.sm="md-container" ngClass.gt-sm="lg-container" class="pb-3">
        <shopify-picture-card-loading *ngIf="dataService.isAPODLoading"></shopify-picture-card-loading>
    </div>
    <div ngClass.sm="md-container" ngClass.gt-sm="lg-container" *ngFor="let pod of data.reverse()" class="pb-3">
        <shopify-picture-card *ngIf="!dataService.isAPODLoading" [data]="pod"></shopify-picture-card>
    </div>
</div>
<shopify-footer></shopify-footer>
<shopify-notification-modal></shopify-notification-modal>