$skeleton-loading-animation-time: 1.3s !default;
$skeleton-element-color: rgba(0, 0, 0, 0.17) !default;
$skeleton-circle-size: 50px !default;
$grey: #d3d3d3;

@keyframes ssc-loading {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

/* Animation partial */
%ssc-animation {
    position: relative;
    overflow: hidden;

    &:after {
        content: "";
        animation: ssc-loading $skeleton-loading-animation-time infinite;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(-100%);
        z-index: 1;
        background: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, 0.3), transparent);
    }
}

.card {
    // height: 75vh;
    background-color: white;
    border-radius: 12px;
    box-shadow: -10px 10px 80px rgb(0 0 0 / 10%);
    cursor: progress;
    user-select: none;

    .card-image {
        height: 55vh;
        background-color: $grey;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;

        @extend %ssc-animation;
    }

    .card-title {
        height: 32px;
        width: 60%;
        background-color: $grey;
        margin-top: 1.5rem;

        @extend %ssc-animation;
    }

    .card-time {
        height: 1rem;
        width: 86px;
        background-color: $grey;
        margin-top: 1rem;
        margin-bottom: 1.5rem;

        @extend %ssc-animation;
    }

    .card-description {
        height: 1rem;
        width: 100%;
        background-color: $grey;
        margin-bottom: 0.5rem;

        @extend %ssc-animation;
    }
    
    .card-action {
        
        padding-bottom: 1.25rem;

        .button {
            height: 30px;
            width: 85px;
            background-color: $grey;
            border-radius: 12px;
    
            @extend %ssc-animation;
        }
    }
}