
.card {

  background-color: white;
  border-radius: 12px;
  box-shadow: -10px 10px 80px rgb(0 0 0 / 10%);

  .card-title {
    margin-bottom: 5px !important;
  }

  img {
    display: block;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {opacity: 0.9;}
  }

  iframe {
    height: 350px;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  iframe.sm {
    height: 200px !important;
  }

  .read-more {
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: gray;
    border-radius: 18px;
    color: white;
    transition: 0.3s;

    &:hover,
    &:focus {
      background-color: rgb(22, 22, 22);
      cursor: pointer;
    }
  }

}


