<shopify-header [isMainLayout]="false"></shopify-header>
<div class="main-body" fxLayout="column" fxLayoutAlign="center center">
    <div ngClass.lt-sm="sm-container" ngClass.sm="md-container" ngClass.gt-sm="lg-container" class="pb-3">
      <shopify-picture-card [data]="data"></shopify-picture-card>
      <shopify-picture-card-loading *ngIf="dataService.isAPODByDateLoading"></shopify-picture-card-loading>
    </div>
</div>
<shopify-footer></shopify-footer>
<shopify-notification-modal></shopify-notification-modal>